<select name="{{ name }}"{% if multiple %} multiple="multiple"{% endif %}{% for key, val in attrs.items %} {{ key }}="{{ val }}"{% endfor %}>{% for choice in choices %}{% if choice.label %}
<optgroup label="{{ choice.label }}">{% for val, label in choice.choices %}
<option value="{{ val }}"{% if multiple %}{% if val in value %} selected="selected"{% endif %}{% else %}{% if val == value %} selected="selected"{% endif %}{% endif %}>{{ label }}</option>{% endfor %}
</optgroup>{% else %}
<option value="{{ choice.0 }}"{% if multiple %}{% if choice.0 in value %} selected="selected"{% endif %}{% else %}{% if choice.0 == value %} selected="selected"{% endif %}{% endif %}>{{ choice.1 }}</option>{% endif %}{% endfor %}
</select>
